* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --bg-dark-navy: #1F2937;
    --bg-light-blue:#3882F6;
    --tx-header:#F9FAF8;
    --tx-header-link:#E5E7EB;
    --info-header:#1F2937;
}

html, body{
    min-width: 500px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 35px;
}

.header-container{
    padding: 30px 0;
    background: var(--bg-dark-navy);
    width: 100%;
}

.header{
    padding: 25px;
    margin-bottom: 10%;
}

.header, ul, .intro,.img-content, .text-content,.random-section,.box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}

.header-logo{
    font-size: 24px;
    color: var(--tx-header);
}

.nav{
    gap: 25px;
}

li, .text-content p{
    list-style-type: none;
    font-size: 18px;
    color: var(--tx-header-link);
    transition: .3s;
}

.intro{
    padding: 0 50px;
}

.intro .big-title{
    color: var(--tx-header);
    font-size: 48px;
    font-weight: 900;
}

.text-content, .random-section{
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: flex-start;
}

.img-content {
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
}

.btn {
    padding:10px 20px;
    border:none;
    border-radius: 10px;
    background: var(--bg-light-blue);
    color: var(--tx-header);
    transition: .3s;
    font-weight: bold;
    font-size: 16px;
}

.img-content img{
    width: 70%;
}

/* random section */
.random-section{
    padding: 35px;
    gap: 25px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.random-section h2{
    color: var(--bg-dark-navy);
    font-weight: 900;
    font-size: 36px;
}

.random-section .box-items{
    width: 250px;
}

.box-container{
    justify-content: center;
}

.box-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.random-section .box{
    overflow: hidden;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    border: 3px solid var(--bg-light-blue);
}

.box-legend{
    color: var(--bg-dark-navy);
}

.random-section .box img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* quote section */
.quote-section{
    background-color: var(--tx-header-link);
    padding: 10% 20%;
}

.quote-section .citation{
    font-size: 36px;
    font-style: italic;
}

.quote-section .citation-author{
    text-align: right;
    display: block;
    color: var(--bg-dark-navy);
    font-weight: bold;
    padding-top: 15px;
    font-size: large;
}

/* call to action */
.call-action {
    display: flex;
    background: var(--bg-light-blue);
    padding: 35px;
    gap: 15px;
    border-radius: 10px;
    width: 75%;
    color: var(--tx-header);
    justify-content: space-around;
    margin: 35px 0;
}

.call-action-title{
    font-weight: bolder;
}

.call-action .btn{
    border: 1px solid var(--tx-header);
}

footer{
    background: var(--bg-dark-navy);
    width: 100%;
    color: var(--tx-header);
    text-align: center;
}
footer p {
    padding: 25px;
}

.btn:hover, li:hover{
    cursor: pointer;
    transform: scale(1.1);
}
